<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    user profile
</h1>
<p>
    <%= profile_user.name %>
</p>
<p>
    <%= profile_user.email %>
</p>

<% if(user.id==profile_user.id){ %>
    <h3>To Update</h3>
    <form action="/users/update/<%= profile_user.id %>"  method="POST">
        <input type="text" name="name" placeholder="your name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="your email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <% } %>