<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="d-flex flex-wrap container-fluid justify-content-center">
  <% for( r of allrecruiters ){ %>

    <div class="card m-4 p-4" style="width: 18rem;" >
      <img src="<%- r.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%- r.name %></h5>
        <p class="card-text"><%- r.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Offered</b> - <%- r.charges %> $ per hour</li>
        <li class="list-group-item"><b>Ph.no</b> - <%- r.phone %></li>
        <li class="list-group-item"><b>Address</b> - <%- r.location %></li>
      </ul>
      <div class="card-body">
        <% if(locals.user.id==r.user){ %>
          <div class="d-felx flex-row align-items-center">
            <form action="/recruiters/update/<%- r.id %>" method="GET">
              <div class="d-grid gap-2">
            <button class="btn btn-info mt-2 px-3.5">Update</button>
            </div>
          </form>
          <form action="/recruiters/delete/<%- r.id %>" method="GET">
            <div class="d-grid gap-2">
        <button class="btn btn-danger mt-2 px-3.5">Delete</button>
        </div>
        </form>
          </div>
        
      <% }else {%>
        <form action="#" method="GET">
          <div class="d-grid gap-2">
          <button class="btn btn-success mt-3  ">Apply</button>
        </div>
      </form>
              <% } %>
      </div>
    </div>
    <% } %>
  </div>
</body>
</html>